body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
    position: relative;
    overflow: hidden; /* Asegura que los emoticonos no se salgan de la pantalla */
}

.container {
    text-align: center;
    position: relative;
}

#gifContainerImg {
    width: 60%;
    height: 60%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

#siBtn {
    padding: 10px 20px; 
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #009705; 
    color: white;
    border: 2px solid #FFC0CB; 
    border-radius: 10px; 
}

#noBtn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #FF5733; 
    color: white;
    border: 2px solid #FFC0CB; 
    border-radius: 10px;
}

#nextBtn {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    background-color: #7e7e7e;
    color: white;
    border: 2px solid #FFC0CB;
    border-radius: 10px;
}

#siBtn:hover {
    background-color: #053a03;
}

#noBtn:hover {
    background-color: #641e0d;
}

#messageContainer {
    font-size: 30px;
    color: #FF0000;
    font-family: 'YourDesiredFont', sans-serif;
    text-shadow: 2px 2px 4px #000;
    animation: pulse 0.5s infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.3);
    }
}

#emojiContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; /* Para que los emoticonos no interfieran con los clics */
}

.emoji {
    position: absolute;
    font-size: 30px;
    opacity: 1;
    animation: float 4s ease-in-out forwards; /* Asegura que desaparezcan después de un tiempo */
}

@keyframes float {
    0% {
        opacity: 1;
        transform: translateY(0) rotate(0deg);
    }
    50% {
        opacity: 1;
        transform: translateY(-20px) rotate(45deg);
    }
    100% {
        opacity: 0;
        transform: translateY(50px) rotate(90deg);
    }
}










#nextBtn {
    padding: 12px 24px;  /* Un tamaño más cómodo */
    font-size: 18px;  /* Tamaño de texto adecuado */
    margin: 20px;
    cursor: pointer;
    background-color: #4CAF50;  /* Verde bonito */
    color: white;  /* Texto blanco para contraste */
    border: 2px solid #388E3C;  /* Borde verde oscuro */
    border-radius: 25px;  /* Bordes más redondeados para un look suave */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Sombra suave para resaltar */
    transition: all 0.3s ease;  /* Transición suave */
}

#nextBtn:hover {
    background-color: #45a049;  /* Verde un poco más oscuro al pasar el ratón */
    border-color: #2c6f2e;  /* Borde verde aún más oscuro */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);  /* Sombra más intensa en hover */
}
